body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

a {
    color: #e42424;
    font-weight: 600;
}

footer {
    position: sticky;
}

main {
    text-align: center;
    margin-bottom: 6vh;
}

h1 {
    margin: 3vh 0;
}

#section-contacts {
    display: flex;
    gap: 3vw;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
    flex: 1;
}

form input {
    margin: 1vh 0;
    width: 100%;
}

textarea {
    margin: 1vh 0;
    width: 100%;
    height: 10vh;
}

form input:nth-of-type(3) {
    height: 4rem;
}

#contact-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

/* RESPONSIVENESS */

@media screen and (max-width:768px) {
    #section-contacts {
        flex-direction: column;
        justify-content: center;
    }
    form button {
        margin-top: 2vh;
    }
    #contact-infos {
        width: 90%;
        margin: 0 auto;
    }
    #footer-infos {
        font-size: 0.82rem;
        text-align: left;
        padding: 0 6vh;
    }
}

