main {
    font-size: 1rem;
}

h1 {
    margin-bottom: 2vh;
    font-size: 3rem;
    font-weight: 300;
}

.about-us {
    text-align: center;
    padding: 5vh;
    margin: 2vh auto;
    width: 80%;
}

.notebook-images {
    display: flex;
    gap: 4vw;
    justify-content: center;
    margin: 4vh 0;
}

.notebook-images img {
    width: 100%;
    height: 80%;
}

.notebook-images div p {
    width: 100%;
    margin-top: 2vh;
}

.table-desktop {
    max-width: 60%;
    margin: 3vh auto;
    border-collapse: collapse;
}

.table-desktop th {
    background-color:#5F82A3;
    color: white;
    padding: 1vh 0;
    border-right: 1px solid white;
}

.table-desktop td {
    padding: 2vh 1.5vh;
}

.tr-color {
    background-color: #d2dce7;
}

.table-desktop caption {
    font-size: 1.2rem;
    margin-top: 4vh;
}

/* TABLE PER MOBILE */

.tr-color-mobile {
    background-color: #d2dce7;
}

.table-mobile {
    max-width: 85%;
    margin: 3vh auto 8vh auto;
    border-collapse: collapse;
}

.table-mobile caption {
    font-size: 2.3rem;
    font-weight: 300;
}

.table-mobile td:first-child {
    font-weight: 700;
}


.table-mobile td {
    padding: 1vh 1.5vh;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1000px) {
    .notebook-images {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    .table-desktop {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .table-mobile {
        display: none;
    }
}